<h1>Your Cart:</h1>

<div class="row">

  <% @carted_products.each do |carted_product| %>

  <div class="col-md-4">
    <div class="well">

      <h2><%= carted_product.product.name %></h2>
      <h3>Quantity: <%= carted_product.quantity %></h3>
    </div>
  </div>

  <% end %>

</div>
<%= form_tag('/orders', {:method => :post}) do %>
<div class="form-group">
  <%= hidden_field_tag :status, "In Cart", class: "form-control" %>
</div>
<div class="form-group">
  <%= submit_tag "Place Order", class: "btn btn-default"%>
</div>
<% end %>
