<h1>PVC:</h1>

<p>Price: <%= @pvc.price %> dollars</p>
<p> <p>Image:</p> 
<%= image_tag @pvc.image %>
<p>Description: <%= @pvc.description %></p>
<p>Stock Status: <%= @pvc.stock_status %></p>
<p> Delivery Time: <%= @pvc.delivery_time %></p>