<h1>Product:</h1>

<h2><%= @product.name %> Price: <%= @product.price %> dollars</h2>
<p>Image:</p> 
<%= image_tag @product.image %></a>
<p>Description: <%= @product.description %></p>
<p>Stock Status: <%= @product.stock_status %></p>
<p>Delivery Time: <%= @product.delivery_time %></p>
<p><%= link_to "Edit Product", "/products/#{@product.id}/edit" %></p>
<p><%= link_to "Delete Product", "/products/#{@product.id}", method: :delete %></p>
<p><%= link_to "Home Page", "/products" %></p>



  
