<h1>Socket Head Cap Screw:</h1>

<p>Price: <%= @socketheadcapscrew.price %> dollars</p>
<p> <p>Image:</p> 
<%= image_tag @socketheadcapscrew.image %>
<p>Description: <%= @socketheadcapscrew.description %></p>
<p>Stock Status: <%= @socketheadcapscrew.stock_status %></p>
<p> Delivery Time: <%= @socketheadcapscrew.delivery_time %></p>
