<h1>3D Printer:</h1>

<p>Price: <%= @threedprinter.price %> dollars</p>
<p> <p>Image:</p> 
<%= image_tag @threedprinter.image %>
<p>Description: <%= @threedprinter.description %></p>
<p>Stock Status: <%= @threedprinter.stock_status %></p>
<p> Delivery Time: <%= @threedprinter.delivery_time %></p>